/***************
UTILITY CLASSES
***************/

body {
    min-height: 100vh;
}

.margin-auto {
    margin: auto;
}

.ppl-green-bg {
    background: #254921!important;
}

.gradient-button {
    color: white;
    font-size: 1.35em;
    font-weight: 800;
    border-radius: 30px;
    padding: 12px 90px;
    border: 2px solid #f5aa67;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f76a1c+0,fab159+100 */
    background: #f76a1c; /* Old browsers */
    background: -moz-linear-gradient(-15deg, #f76a1c 0%, #fab159 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-15deg, #f76a1c 0%,#fab159 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(165deg, #f76a1c 0%,#fab159 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76a1c', endColorstr='#fab159',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: background 0.35s ease-int-out;
}

.gradient-button:hover {
    border: 2px solid #f5aa67;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f76a1c+0,fab159+100 */
    background: #f76a1c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f76a1c 0%, #fab159 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f76a1c 0%,#fab159 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f76a1c 0%,#fab159 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76a1c', endColorstr='#fab159',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* loading icon */
.indppl-loading-background{
	position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0000005a;
    z-index: 99999999;
}
#indppl-loading-icon{
    position: absolute;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    animation: ind-fade 1s ease-in-out 1;
}
.image{
  	position: absolute;
  	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.image-rev{
  	position: absolute;
  	-webkit-animation:revspin 4s linear infinite;
    -moz-animation:revspin 4s linear infinite;
    animation:revspin 4s linear infinite;
}
.image-rev-2{
  	position: absolute;
  	-webkit-animation:revspin 5s linear infinite;
 	-moz-animation:revspin 5s linear infinite;
 	animation:revspin 5s linear infinite;
}
@keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-moz-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }
@-webkit-keyframes ind-fade {
	0% {opacity: 0;}
	100%{opacity: 1;} }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes revspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes revspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes revspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }



#location-icon{
    position: absolute;
    right: 20px;
    top: 5px;
}
#zip-for-location{
    margin-left: 0;
    width: 85%;
    /* margin: auto; */
    margin-top: 20px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.39);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.geo-submit{
    margin:auto;
    margin-top: 20px;
}
.zip-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-list-container, .flex-left-justify{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-left-justify{
    align-items: flex-start;
}
.results-store, .store-list-text{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding-left: 0;
    padding-top: 30px;
}
.store-list-text{
    padding-top: 5px;
}